body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  position: relative;
  background: #333;
  color: white;
  padding: 10px 20px;
}

.fa-bars {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
}

#navLinks {
  position: absolute;
  top: 0;
  right: -200px; /* Awalnya tersembunyi */
  background: #444;
  width: 200px;
  height: 100vh;
  transition: 0.3s;
  padding-top: 60px;
}

#navLinks a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

#navLinks a:hover {
  background: #555;
}

.fa-xmark {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
}